/*  your css code here. If applicable */

body{
	background: rgb(204, 204, 204);
}


.songList{ 
	border:1px solid black;
	border-radius:5px;
	background-color: rgb(255, 255, 255);
}
.songList li a{
	text-decoration:none;
	color:black;
}

.media{
    margin:5%;
	border:1px solid black;
	border-radius:5px;
	background-color: rgb(255, 255, 255);
	height:600px;
	
}
.player_one{	
	padding:10px;
	border:1px solid black;
	border-radius:10px;
	background-color: rgb(255, 255, 255);
}